In [7]:
import pandas as pd
import uuid

feature_df = pd.read_csv("feature_importance.csv")
top_10 = feature_df.sort_values(by="mean_abs_shap", ascending=False).head(10)
top_10.to_csv("top_10_features.csv", index=False)

In [8]:
top_10_features=[]
for feature in top_10['feature']:
    top_10_features.append(feature)

top_10_features.append('churn_label')

In [9]:
print(top_10_features)

['Dependents', 'Contract_Two year_True', 'Contract_One year_True', 'tenure', 'Internet Service_Fiber optic_False', 'Payment Method_Electronic check_False', 'Multiple Lines_Yes_False', 'Online Security_Yes_True', 'Tech Support_Yes_True', 'Online Backup_Yes_True', 'churn_label']

In [10]:
df=pd.read_csv("D:\personalCode\churn-prediction\data\processed_telco_churn.csv")

In [11]:
for column in df.columns:
    if column not in top_10_features:
        df.drop(columns=[column], inplace=True)

df = df.replace({1: True, 0: False})

df['mem_id']=[str(uuid.uuid4) for _ in range(len(df))]

C:\Users\arnab\AppData\Local\Temp\ipykernel_30164\3010782492.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({1: True, 0: False})

In [12]:
df.to_csv("top_10_features_telco_churn.csv", index=False)

In [13]:
df.head()

,Dependents,tenure,Multiple Lines_Yes_False,Internet Service_Fiber optic_False,Online Security_Yes_True,Online Backup_Yes_True,Tech Support_Yes_True,Contract_One year_True,Contract_Two year_True,Payment Method_Electronic check_False,churn_label,mem_id
0,False,-1.239504,True,True,True,True,False,False,False,True,True,<function uuid4 at 0x000002997CC0E9E0>
1,True,-1.239504,True,False,False,False,False,False,False,False,True,<function uuid4 at 0x000002997CC0E9E0>
2,True,-0.995040,False,False,False,False,False,False,False,False,True,<function uuid4 at 0x000002997CC0E9E0>
3,True,-0.180161,False,False,False,False,True,False,False,False,True,<function uuid4 at 0x000002997CC0E9E0>
4,True,0.675462,False,False,False,True,False,False,False,True,True,<function uuid4 at 0x000002997CC0E9E0>

In [14]:
df['tenure'].to_csv("tenure.csv", index=False)